# TMDb Daily Files Exports

More info: https://developers.themoviedb.org/3/getting-started/daily-file-exports

API: http://files.tmdb.org/p/exports/movie_ids_12_10_2021.json.gz

In [12]:
import pandas as pd
from ast import literal_eval
import json

In [36]:
movies_ids = []
with open('movie_ids_12_10_2021.json', 'r', encoding="utf8") as f:
    for line in f:
        line = literal_eval(line.strip().replace('true', 'True').replace('false', 'False'))
        movies_ids.append(line)

print(len(movies_ids))
movies_ids[0]

662472

{'adult': False,
 'id': 3924,
 'original_title': 'Blondie',
 'popularity': 1.751,
 'video': False}

In [38]:
df = pd.DataFrame(movies_ids)
df = df.drop_duplicates(subset=['id'])
df

        adult      id                      original_title  popularity  video
0       False    3924                             Blondie       1.751  False
1       False    6124                 Der Mann ohne Namen       0.600  False
2       False    8773                 L'amour à vingt ans       3.498  False
3       False   25449  New World Disorder 9: Never Enough       1.198  False
4       False   31975      Sesame Street: Elmo Loves You!       0.600   True
...       ...     ...                                 ...         ...    ...
662467  False  913886                    Bigger Is Better       0.000  False
662468  False  913887                           侠义神捕之请君入瓮       0.000  False
662469  False  913889                           侠义神捕之边城迷案       0.000  False
662470  False  913890                 When Worlds Collide       0.000  False
662471  False  913891                           侠吏飞龙之滴水山庄       0.000  False

[662472 rows x 5 columns]