In [97]:
import pandas as pd
import requests
import time
from credentials import *

In [94]:
path = '../data/MoviesDataset/'
poster_path_tmdb = 'https://image.tmdb.org/t/p/w500'

df = pd.read_csv(path + '/movies_metadata.csv', low_memory=False)

ids = df.id.to_list()

url = 'https://api.themoviedb.org/3/movie/'
language = '&language=en-US'

print('Number of movies:', len(ids))

Number of movies: 45466

# Update movies from TMDb API
In order to update the variables `post_path` and `imdb_id` from `movies_metadata.csv` we are going to retrieve the details of this pictures again, on 10/12/2021.

In [3]:
# Create dataframe
url_total = url + str(ids[0]) + '?api_key=' + tmdb_api_key + language

response = requests.get(url_total)

if response.status_code == 200:
    movies = pd.DataFrame.from_dict(response.json(), orient='index').T

movies

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,1995-10-30,373554033,81,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Toy Story,False,8.0,14752

In [4]:
# Retrieve all movies from movies_metadata.csv list and record to DataFrame

import time
start_time = time.time()

for i, id in enumerate(ids[1:]):
    url_total = url + str(id) + '?api_key=' + tmdb_api_key + language

    response = requests.get(url_total)

    if response.status_code == 200:
        if i % 2500 == 0:
            print(round(time.time() - start_time), 'seconds -> i:', i)
        movies = movies.append(pd.DataFrame.from_dict(response.json(), orient='index').T, ignore_index=True)

0 seconds -> i: 0
333 seconds -> i: 2500
932 seconds -> i: 5000
1554 seconds -> i: 7500
2111 seconds -> i: 10000
2637 seconds -> i: 12500
3172 seconds -> i: 15000
3688 seconds -> i: 17500
4269 seconds -> i: 20000
4850 seconds -> i: 22500
5594 seconds -> i: 25000
6286 seconds -> i: 27500
6809 seconds -> i: 30000
7321 seconds -> i: 32500
7833 seconds -> i: 35000
8346 seconds -> i: 37500
8881 seconds -> i: 40000
9410 seconds -> i: 42500
9935 seconds -> i: 45000

In [5]:
##movies.to_csv('../data/movies_metadata_v2.csv', index=False)
##movies.shape

(45043, 25)

# Retrying the retrieval of missing movies

In [123]:
df2 = pd.read_csv('../data/movies_metadata_v2.csv', low_memory=False)
df2.shape

(45043, 25)

In [124]:
missing_ids = list(set(ids) - set(df2.id.astype('str')))
len(missing_ids)

425

In [125]:
# Create dictionary for failed attemps
failed = {}

# Create DataFrame movies
url_total = url + '550' + '?api_key=' + tmdb_api_key + language
response = requests.get(url_total)
if response.status_code == 200:
    movies = pd.DataFrame.from_dict(response.json(), orient='index').T

movies.drop(0)

Empty DataFrame
Columns: [adult, backdrop_path, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 25 columns]

In [126]:
#Retrieve all missing movies
for id in missing_ids:
    url_total = url + str(id) + '?api_key=' + tmdb_api_key + language

    response = requests.get(url_total)

    if response.status_code == 200:
        movies = movies.append(pd.DataFrame.from_dict(response.json(), orient='index').T, ignore_index=True)
    else:
        failed[id] = response.status_code
       
print(failed)
movies.shape

{'12224': 404, '206514': 404, '250880': 404, '60199': 404, '140161': 404, '26397': 404, '32228': 404, '409926': 404, '331501': 404, '367647': 404, '202831': 404, '30496': 404, '373357': 404, '283489': 404, '200664': 404, '324013': 404, '194668': 404, '208947': 404, '249926': 404, '24057': 404, '51768': 404, '390422': 404, '47084': 404, '266314': 404, '263946': 404, '131934': 404, '67493': 404, '67636': 404, '101185': 404, '200549': 404, '18729': 404, '63383': 404, '220903': 404, '7096': 404, '329241': 404, '252063': 404, '94587': 404, '248946': 404, '51129': 404, '57346': 404, '300762': 404, '376823': 404, '38611': 404, '317384': 404, '72093': 404, '54102': 404, '428074': 404, '34202': 404, '58207': 404, '327083': 404, '46813': 404, '278604': 404, '335676': 404, '410774': 404, '106938': 404, '327016': 404, '412103': 404, '28013': 404, '11343': 404, '245170': 404, '458298': 404, '25950': 404, '24486': 404, '56508': 404, '374319': 404, '26787': 404, '29924': 404, '211354': 404, '370014': 404, '176297': 404, '64042': 404, '357125': 404, '18976': 404, '100490': 404, '315010': 404, '395767': 404, '77197': 404, '30146': 404, '31261': 404, '261581': 404, '12450': 404, '67276': 404, '150004': 404, '152426': 404, '206997': 404, '160874': 404, '453062': 404, '407048': 404, '409696': 404, '370722': 404, '393263': 404, '361340': 404, '334057': 404, '419289': 404, '62836': 404, '96451': 404, '110147': 404, '421550': 404, '264321': 404, '174588': 404, '446850': 404, '409820': 404, '153397': 404, '320311': 404, '374247': 404, '61872': 404, '178446': 404, '30294': 404, '452142': 404, '18098': 404, '131433': 404, '268712': 404, '139777': 404, '216035': 404, '159140': 404, '53875': 404, '99254': 404, '30999': 404, '47761': 404, '219466': 404, '125458': 404, '172577': 404, '79833': 404, '13519': 404, '103081': 404, '72094': 404, '25843': 404, '51765': 404, '72095': 404, '134481': 404, '18202': 404, '14301': 404, '294574': 404, '137669': 404, '31183': 404, '11788': 404, '409536': 404, '278468': 404, '374430': 404, '118309': 404, '414937': 404, '134777': 404, '16854': 404, '360626': 404, '425916': 404, '133365': 404, '381519': 404, '401150': 404, '216037': 404, '17632': 404, '76162': 404, '77172': 404, '64047': 404, '201198': 404, '129405': 404, '208988': 404, '197592': 404, '152539': 404, '188521': 404, '144114': 404, '62241': 404, '108879': 404, '56515': 404, '371504': 404, '64679': 404, '218277': 404, '138394': 404, '50942': 404, '25789': 404, '137587': 404, '443113': 404, '13541': 404, '38622': 404, '65990': 404, '57622': 404, '289394': 404, '75604': 404, '155055': 404, '31502': 404, '161535': 404, '243984': 404, '336956': 404, '142051': 404, '168219': 404, '264356': 404, '75018': 404, '310442': 404, '221317': 404, '126820': 404, '8677': 404, '114761': 404, '461805': 404, '265758': 404, '34573': 404, '52236': 404, '74694': 404, '69535': 404, '17800': 404, '416124': 404, '297167': 404, '80527': 404, '149645': 404, '289314': 404, '71461': 404, '141714': 404, '337751': 404, '312497': 404, '25180': 404, '101660': 404, '19792': 404, '43719': 404, '9795': 404, '128733': 404, '86997': 404, '18901': 404, '288977': 404, '24269': 404, '398295': 404, '345575': 404, '202241': 404, '64502': 404, '45988': 404, '36597': 404, '180836': 404, '83191': 404, '25610': 404, '56511': 404, '321640': 404, '47350': 404, '71982': 404, '193976': 404, '136867': 404, '21847': 404, '213755': 404, '241340': 404, '114796': 404, '370353': 404, '192936': 404, '53870': 404, '215993': 404, '38870': 404, '64820': 404, '418772': 404, '266568': 404, '246699': 404, '45330': 404, '60836': 404, '47477': 404, '31446': 404, '30': 404, '357130': 404, '63039': 404, '215999': 404, '180152': 404, '353462': 404, '416988': 404, '15614': 404, '41758': 404, '56512': 404, '117232': 404, '17266': 404, '75926': 404, '189197': 404, '18231': 404, '391997': 404, '341984': 404, '338546': 404, '27934': 404, '19422': 404, '420714': 404, '41522': 404, '47934': 404, '62403': 404, '418979': 404, '60364': 404, '122023': 404, '269797': 404, '65821': 404, '46572': 404, '40593': 404, '85702': 404, '5654': 404, '259634': 404, '3057': 404, '262475': 404, '89049': 404, '440508': 404, '70859': 404, '324017': 404, '211845': 404, '22211': 404, '93734': 404, '56516': 404, '56771': 404, '51247': 404, '45514': 404, '284694': 404, '384130': 404, '244182': 404, '371758': 404, '339749': 404, '27138': 404, '143769': 404, '38430': 404, '140465': 404, '75375': 404, '67488': 404, '17669': 404, '376681': 404, '109515': 404, '65595': 404, '17919': 404, '267795': 404, '293238': 404, '49754': 404, '19350': 404, '203766': 404, '64123': 404, '67866': 404, '11944': 404, '200157': 404, '300544': 404, '281124': 404, '188421': 404, '331214': 404, '263947': 404, '224113': 404, '80617': 404, '378452': 404, '337747': 404, '444623': 404, '200035': 404, '55229': 404, '232005': 404, '53774': 404, '282247': 404, '405627': 404, '24019': 404, '313896': 404, '424643': 404, '198993': 404, '200813': 404, '876': 404, '26920': 404, '257155': 404, '329637': 404, '13905': 404, '268009': 404, '445916': 404, '108497': 404, '99708': 404, '288284': 404, '119372': 404, '183894': 404, '15024': 404, '62931': 404, '162864': 404, '4548': 404, '118013': 404, '65973': 404, '13535': 404, '38626': 404, '168210': 404, '67463': 404, '30922': 404, '58589': 404, '14980': 404, '431490': 404, '293603': 404, '37603': 404, '193380': 404, '129269': 404, '79280': 404, '36663': 404, '14305': 404, '313985': 404, '46121': 404, '49870': 404, '391934': 404, '117408': 404, '407430': 404, '101915': 404, '119431': 404, '31501': 404, '2699': 404, '202043': 404, '115161': 404, '30592': 404, '168643': 404, '44937': 404, '366561': 404, '279558': 404, '51452': 404, '108716': 404, '268771': 404, '192040': 404, '401840': 404, '389396': 404, '430514': 404, '192695': 404, '18884': 404, '373977': 404, '59572': 404, '347938': 404, '69234': 404, '119324': 404, '414632': 404, '36763': 404, '254689': 404, '293471': 404, '400174': 404, '2966': 404, '283691': 404, '333953': 404, '344560': 404, '97414': 404, '140207': 404, '231510': 404, '30983': 404, '46612': 404, '147538': 404, '58923': 404}

(4, 25)

In [127]:
movies = df2.append(movies, ignore_index=True)

In [143]:
## Drop duplicates
movies.drop_duplicates(subset=['imdb_id'], inplace=True)
print(movies.shape)

movies.to_csv('../data/movies_metadata_v2.csv', index=False)

(45000, 25)

In [144]:
df3 = pd.read_csv('../data/movies_metadata_v2.csv', low_memory=False)
df3.shape

(45000, 25)